<div class="container">
  <h1>Lancer une nouvelle rumeur</h1>
<div class="container ps-4 pe-4 pb-3" style="border: 0px solid black; border-radius: 30px; background-color: rgba(26, 189, 206, 0.30);">
  <%= form_tag('/events', method: 'post') do %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %><%= label_tag :title, "Nom de l'évènement" %><br>
    <%= text_field_tag :title, nil %><br><br>
    <%= label_tag :description, "Le contenu de votre évènement:" %><br>
    <%= text_area_tag :description, nil, class: "formulaire" %>
    <%= label_tag :location, "La localisation de votre évènement:" %><br>
    <%= text_area_tag :location, nil %>
    <%= label_tag :price, "Le prix de votre évènement:" %><br>
    <%= number_field_tag :price, nil, min: 0 %>
    <%= label_tag :start_date, "La date de votre évènement:" %><br>
    <%= date_field_tag :start_date, nil %>
    <%= label_tag :duration, "La durée de votre évènement (en minutes):" %><br>
    <%= number_field_tag :duration, nil, min: 0 %>
    <%= submit_tag "Envoyer", class: "btn btn-primary rounded-pill", style: "height: 4rem; border-radius: 20px !important;", data: { turbo: false } %>
  <% end %>
</div>
<% if @event.errors.any? %>
  <div class="alert alert-danger custom_alert" role="alert">
    <p>Nous n'avons pas réussi à créer le potin pour la (ou les) raison(s) suivante(s) :</p>
    <ul class="bullet">
      <li>Le titre doit avoir au minimum 3 characters et maximum 14 characters.</li>
      <li>Le content ne doit pas être vide.</li>
    </ul>
  </div>
<% end %>
</div>